@import "mixins.scss";

//
// CocoonJS theme
// Inspired in the CocoonJS Launcher theme
//
// --------------------------------------------------


// Fonts
// --------------------------------------------------

@font-face {
  font-family: 'NexaRegular';
  src: url('../fonts/fontfabric_-_nexaregular-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('../fonts/fontfabric_-_nexaregular-webfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'NexaBold';
  src: url('../fonts/fontfabric_-_nexa-bold-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('../fonts/fontfabric_-_nexa-bold-webfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
@font-face {
  font-family: 'NexaLight';
  src: url('../fonts/fontfabric_-_nexa-light-webfont.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  url('../fonts/fontfabric_-_nexa-light-webfont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

// Variables
// --------------------------------------------------

// Colors
//
// Main theme colors
$primary-color:  #ffffff !global;
$chrome-color:   rgba(247,247,247,.98) !global;

// Action colors
$default-color:  #2cd4d7 !global;
$positive-color: #8eebec !global;
$negative-color: #ec8e8e !global;

// Bars
$bar-base-height: 44px !global;
$bar-tab-height:  50px !global;

// iOS style transitions
$timing-fuction: cubic-bezier(.1, .5, .1, 1) !global; // Inspired by @c2prods
$base-color : #b6b6b6;
$border-bottom-color: #85dcdd;

// Base
// --------------------------------------------------

body{
  color: $base-color;
  font-family: "NexaBold", Helvetica,sans-serif;
}

.title{
  color:#fff;
  text-transform: uppercase;
}
// Universal link styling
a {
  color: $primary-color;

  &:active {
    color: darken($primary-color, 10%);
  }
}

// Content
.content {
  background-color: #efeff4;
}


// Typography
// --------------------------------------------------

.h5, h5,
.h6, h6,
p {
  color: #8f8f94;
}
.h5, h5,
.h6, h6 {
  font-weight: normal;
  text-transform: uppercase;
}

// Icons
// --------------------------------------------------
.table-view-cell .icon {
  color: #27cdd0;
}

// Buttons
// --------------------------------------------------

.btn {
  color: $default-color;
  background-color: $chrome-color;
  border: 1px solid $default-color;
  @include transition(all);
  @include transition-duration(.2s);
  @include transition-timing-function(linear);
  font-family: "NexaLight";
  // Active & filled button styles
  &:active,
  &.active {
    color: #fff;
    background-color: $default-color;
  }
}


// Other button types
// --------------------------------------------------
.btn-positive.btn-block.btn-outlined{
  color: darken($default-color, 10%);
  border: 1px solid darken($default-color, 10%);
}
.btn-primary.btn-block.btn-outlined{
  color: $default-color;
  border: 1px solid darken($positive-color, 10%);

  &:active,
  &.active {
    border: 1px solid darken($positive-color, 10%);
  }
}
.btn .badge{
  font-family: "Helvetica Neue",Helvetica,sans-serif;
}
// Primary button (Default color is blue)
.btn-primary {
  color: #fff;
  background-color: darken($positive-color, 10%);
  border: 1px solid darken($positive-color, 10%);

  &:active,
  &.active {
    background-color: darken($positive-color, 10%);
    border: 1px solid darken($positive-color, 10%);
  }
}

// Positive button (Default color is green)
.btn-positive {
  color: #fff;
  background-color: $positive-color;
  border: 1px solid $positive-color;

  &:active,
  &.active {
    background-color: darken($positive-color, 10%);
    border: 1px solid darken($positive-color, 10%);
  }
}

// Negative button (Default color is red)
.btn-negative {
  color: #fff;
  background-color: $negative-color;
  border: 1px solid $negative-color;

  &:active,
  &.active {
    background-color: darken($negative-color, 10%);
    border: 1px solid darken($negative-color, 10%);
  }
}

// Outlined buttons
.btn-outlined {
  background-color: transparent;

  &.btn-primary {
    color: $primary-color;
  }
  &.btn-positive {
    color: $positive-color;
  }
  &.btn-negative {
    color: $negative-color;
  }
  // Active states
  &.btn-primary:active,
  &.btn-positive:active,
  &.btn-negative:active {
    color: #fff;
  }
}

// Link button (Buttons that look like links)
.btn-link {
  color: $primary-color;
  background-color: transparent;
  border: none;

  &:active,
  &.active {
    color: darken($primary-color, 10%);
    background-color: transparent;
  }
}

// Buttons with badges
.btn {
  .badge {
    background-color: rgba(0,0,0,.15);

    &.badge-inverted {
      background-color: transparent;
    }
  }

  // Active states
  &:active .badge {
    color: #fff;
  }
}


// Bars
// --------------------------------------------------

.bar-tab .tab-item{
  color: $base-color;
}

// Default bar
.bar {
  background-color: #8eebec;
  border-bottom: 1px solid $border-bottom-color;
  height: 43px;
  -webkit-box-shadow: none;
  box-shadow: none;

  // Modifier class to dock any bar below .bar-nav
  &.bar-header-secondary {
    top: $bar-base-height;
  }

  // Modifier class to dock any bar above a standard bar
  &.bar-footer-secondary {
    bottom: $bar-base-height;
  }

  // Modifier class to dock any bar above a .bar-tab
  &.bar-footer-secondary-tab {
    bottom: $bar-tab-height;
  }
  // Give the footers the correct border
  &.bar-footer,
  &.bar-footer-secondary,
  &.bar-footer-secondary-tab {
    border-top: 0;
  }
}

// Tab bar
.bar-tab {
  border-top: 0;
  background-color: #f7f7f7;
}

.bar-tab .tab-item.active, .bar-tab .tab-item:active {
  color: #27cdd0;
  text-transform: uppercase;
}

.tab-item {
  color: #929292;
  text-transform: uppercase;
  // Active states for the tab bar
  &.active,
  &:active {
    color: $primary-color;
  }
}

// Nav bars with buttons
.bar-nav {
  // Link buttons in nav bars
  .btn-link {
    color: $primary-color;

    &:active {
      color: $primary-color;
      opacity: .6;
    }
  }
}



// Badges
// --------------------------------------------------

.badge {
  &.badge-inverted {
    color: $default-color;
    background-color: transparent;
  }
}


// Badge modifiers
//
// Main badge
.badge-primary {
  color: #fff;
  background-color: $primary-color;

  &.badge-inverted {
    color: $primary-color;
    background-color: transparent;
  }
}

// Positive badge
.badge-positive {
  color: #fff;
  background-color: $positive-color;

  &.badge-inverted {
    color: $positive-color;
    background-color: transparent;
  }
}

// Negative badge
.badge-negative {
  color: #fff;
  background-color: $negative-color;

  &.badge-inverted {
    color: $negative-color;
    background-color: transparent;
  }
}


// Cards
// --------------------------------------------------

// Cards with table-views
.card .table-view {
  background-image: none;
}
.card .table-view-cell:last-child {
  background-image: none;
}

// Table views
// --------------------------------------------------

.table-view {
  border-top: 0;
  border-bottom: 0;
  @include hairline(double, #c8c7cc, 0); // Double grey border.

  .table-view-cell {
    border-bottom: 0;
    @include hairline(single, #c8c7cc, 15px); // Single grey border with 15px offset.

    // Remove the border from the last table view item
    &:last-child {
      background-image: none;
    }
    > a:not(.btn):active {
      color: inherit;
    }
  }

  // Table view dividers
  .table-view-divider {
    border-top: 0;
    border-bottom: 0;
    @include hairline(double, #c8c7cc, 0);  // Double (top and bottom) grey border with no offset.
  }
}


// Forms
// --------------------------------------------------

select,
textarea,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="color"],
.input-group {
  height: 40px;
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, .2);
}

// Rounded search input
input[type="search"] {
  height: 34px;
  text-align: center;
  background-color: rgba(0,0,0,.1);
  border: 0;
  border-radius: 6px;
}
input[type="search"]:focus {
  text-align: left;
}
select,
textarea,
.input-group {
  height: auto;
}

// Input groups (cluster multiple inputs together into a single group)
// -------------------------------------------------------------------
.input-group {
  padding: 0;
  border: 0;
  @include hairline(double, #c8c7cc, 0); // Double grey border.
}
.input-group input {
  border: 0;
  @include hairline(single, #c8c7cc, 15px);
}
// Remove bottom border on last input to avoid double bottom border
.input-group input:last-child {
  background-image: none;
}

// Input groups with labels
// --------------------------------------------------

// To use labels with input groups, wrap a label and an input in an .input-row
.input-row {
  border-bottom: 0;
  @include hairline(single, #c8c7cc, 15px); // Single grey border with a 15px offset.
}
// Remove bottom border on last input-row to avoid double bottom border
.input-row:last-child,
.input-row label + input {
  background-image: none;
}


// Segmented controls
// --------------------------------------------------

.segmented-control {
  background-color: transparent;
  border: 1px solid $default-color;

  .control-item {
    color: $default-color;
    border-color: $default-color;
    @include transition(background-color .1s linear);

    &:active {
      background-color: lighten($default-color, 35%);
    }
    &.active {
      color: #fff;
      background-color: $default-color;
    }
  }
}

// Other segmented controller types
//
// Primary
.segmented-control-primary {
  border: 1px solid $primary-color;

  .control-item {
    color: $primary-color;
    border-color: inherit;

    &:active {
      background-color: lighten($primary-color, 35%);
    }
    &.active {
      color: #fff;
      background-color: $primary-color;
    }
  }
}

// Positive
.segmented-control-positive {
  border: 1px solid $positive-color;

  .control-item {
    color: $positive-color;
    border-color: inherit;

    &:active {
      background-color: lighten($positive-color, 35%);
    }
    &.active {
      color: #fff;
      background-color: $positive-color;
    }
  }
}

// Negative
.segmented-control-negative {
  border: 1px solid $negative-color;

  .control-item {
    color: $negative-color;
    border-color: inherit;

    &:active {
      background-color: lighten($negative-color, 35%);
    }
    &.active {
      color: #fff;
      background-color: $negative-color;
    }
  }
}


// Popovers
// --------------------------------------------------

.popover {
  border-radius: 0;
  @include transition(-webkit-transform 0.2s ease-in-out, opacity 0.2s ease-in-out);

  &:before {
    border-bottom: 15px solid $chrome-color;
  }
}

// Popovers with `bar`
.popover .bar {
  @include box-shadow(none);
}

// Popovers with `bar-nav`
.popover .bar-nav {
  border-bottom: 1px solid $border-bottom-color;
  border-radius: 0;
}

// Popovers with `table-views`
.popover .table-view {
  background-image: none;
  border-radius: 0;
}


// Modal styles
// --------------------------------------------------

.modal {
  @include transition-timing-function($timing-fuction);

  // Active modal
  &.active {
    @include transition-timing-function($timing-fuction);
  }
}


// Toggles styles
// --------------------------------------------------
.toggle {
  width: 47px;
  border: 2px solid #e6e6e6;
  @include box-shadow(inset 0 0 0 0 #e1e1e1);
  @include transition-property(box-shadow, border);
  @include transition-duration(.2s);

  // Sliding handle
  .toggle-handle {
    border: 1px solid rgba(0, 0, 0, .2);
    -webkit-transition-property: -webkit-transform, border, width;
       -moz-transition-property: -moz-transform, border, width;
            transition-property: transform, border, width;
    @include box-shadow(0 3px 3px rgba(0,0,0,.08));
  }
  &:before {
    display: none;
  }
  // Active state for toggle
  &.active {
    background-color: transparent;
    border: 2px solid $positive-color;
    @include box-shadow(inset 0 0 0 13px $positive-color);

    .toggle-handle {
      @include transform(translate3d(17px,0,0));
    }

    .toggle-handle {
      border-color: $positive-color;
    }
  }
}


// Push styles
// --------------------------------------------------
.content {
  // Fade animation
  &.fade {
    @include transition(opacity .2s ease-in-out);
  }
  // Slide animation
  &.sliding {
    @include transition-timing-function ($timing-fuction);

    // Adding the overlay
    &.sliding-in,
    &.right:not([class*="sliding-in"]) {
      @include animation-name(fadeOverlay);
      @include animation-duration(.4s);
    }

    &.right:not([class*="sliding-in"]) {
      @include animation-direction(reverse);
    }

    &.left {
      @include transform(translate3d(-20%, 0, 0)); // Creates the parallax effect
    }
  }
}

// Overlay animation for the slide transition
@at-root {
  @-webkit-keyframes fadeOverlay {
    from { @include box-shadow(0 0 10px rgba(0,0,0,0), -320px 0 0 rgba(0,0,0,0)); }
    to   { @include box-shadow(0 0 10px rgba(0,0,0,.3), -320px 0 0 rgba(0,0,0,.1)); }
  }
}


// CocoonJS components
// --------------------------------------------------

// Tabs
// --------------------------------------------------
.tabber { overflow: hidden; }

.tabber .tabber-menu { display: block; margin: 0; padding: 0; }
.tabber .tabber-handle {
  background-color: #fff;
  padding: 15px;
  color: $base-color;
  cursor: pointer;
  display: block;
  float: left;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.tabber{
  font-family: "NexaLight";
}
.tabber .tabber-handle.active { color: darken($base-color, 10%); }
.tabber .tabber-handle.mobile { display: none; float: none; }

.tabber .tabber-tab {  margin: 10px; clear: both; display: none; }
.tabber .tabber-tab.active { display: block; }

/* Vertical */
.tabber.vertical .tabber-menu { float: left; width: 20%; }
.tabber.vertical .tabber-handle { display: block; width: 100%; }
.tabber.vertical .tabber-handle.mobile { display: none; }

.tabber.vertical .tabber-tab { clear: none; float: right; min-height: 100%; width: 80%; }

/* Mobile */
.tabber.mobile .tabber-handle { font-family: "NexaBold"; display: none; }
.tabber.mobile .tabber-handle.mobile { display: block; }

.tabber.vertical.mobile .tabber-menu,
.tabber.vertical.mobile .tabber-tab { float: none; width: 100%; }

:focus {
  outline: -webkit-focus-ring-color 0;
}


/*
 * Shifter v3.1.2 - 2014-10-28
 * A jQuery plugin for simple slide-out mobile navigation. Part of the Formstone Library.
 * http://formstone.it/shifter/
 *
 * Copyright 2014 Ben Plum; MIT Licensed
 */


.shifter-open {
  overflow: hidden;
}
.shifter-open .shifter-page *,
.shifter-open .shifter-header * {
  pointer-events: none;
}
.shifter-navigation {
  display: none;
  opacity: 0;
  padding-top: $bar-base-height;
  padding-bottom: $bar-base-height + 5;
  color: $base-color;
}
.shifter-navigation a{
  color: $base-color;
  display: block;
}
.shifter-handle {
  display: none;
}
.shifter-enabled .shifter-page {
  min-height: 100%;
  z-index: 1;
  background: #ffffff;
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.15);
  display: block;
}
.shifter-enabled.shifter-left .shifter-page {
  box-shadow: -2px 0 2px rgba(0, 0, 0, 0.15);
}
.shifter-enabled .shifter-navigation {
  width: 270px;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 0;
  background: #ffffff;
  display: block;
  overflow: auto;
  pointer-events: none;
  -webkit-transition: opacity 0.001s linear 0.2s, -webkit-transform 0.2s ease;
  transition: opacity 0.001s linear 0.2s, transform 0.2s ease;
}
.shifter-enabled .shifter-page,
.shifter-enabled .shifter-header,
.shifter-enabled .shifter-navigation {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.shifter-enabled .shifter-page,
.shifter-enabled .shifter-header {
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
}
.shifter-enabled .shifter-handle {
  cursor: pointer;
  display: block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.shifter-enabled .shifter-handle:after {
  height: 3px;
  width: 20px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  margin: auto;
}
.shifter-enabled .shifter-navigation {
  right: 0;
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}
.shifter-open .shifter-page,
.shifter-open .shifter-header {
  -webkit-transform: translate3D(-270px, 0, 0);
  -ms-transform: translate3D(-270px, 0, 0);
  transform: translate3D(-270px, 0, 0);
}
.shifter-enabled.shifter-left .shifter-navigation {
  left: 0;
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
}
.shifter-enabled.shifter-left.shifter-open .shifter-page,
.shifter-enabled.shifter-left.shifter-open .shifter-header {
  -webkit-transform: translate3D(270px, 0, 0);
  -ms-transform: translate3D(270px, 0, 0);
  transform: translate3D(270px, 0, 0);
}
.shifter-open .shifter-navigation {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);
  -webkit-transition: opacity 0.001s linear 0s, -webkit-transform 0.2s ease;
  transition: opacity 0.001s linear 0s, transform 0.2s ease;
}
.no-csstransforms3d .shifter-enabled.shifter-navigation {
  right: -270px;
}
.no-csstransforms3d .shifter-enabled.shifter-left .shifter-navigation {
  left: -270px;
}
.no-csstransforms3d .shifter-enabled.shifter-open .shifter-page {
  left: -270px;
}
.no-csstransforms3d .shifter-enabled.shifter-open .shifter-navigation {
  right: 0;
}
.no-csstransforms3d .shifter-enabled.shifter-left.shifter-open .shifter-page {
  left: auto;
  right: -270px;
}
.no-csstransforms3d .shifter-enabled.shifter-left.shifter-open .shifter-navigation {
  left: 0;
}